.profile-container {
    display: flex;
    height: 100vh;
    width: 1200px;
    padding-top: 180px;
    padding-bottom: 400px;
    background-color: white;
}

.sidebar {
    width: 300px;
    padding: 20px;
    
}

.sidebar-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    height: 300px;
}

.nav-card {
    text-align: left;
}

.nav-item svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

.profile-name {
    color: #1E90FF;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.profile-title {
    color: #598bbe;
    text-transform: capitalize;
    font-size: 17px;
    font-style: italic;
    margin: 0;
}

.sidebar-nav .nav-item {
    display: block;
    padding: 10px 15px;
    margin: 10px 0;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    color: #1E90FF;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    text-decoration: none;
    font-family: Georgia, serif;
}

.sidebar-nav .nav-item:hover {
    background: #dff1df;
}

.sidebar-nav .nav-item.active {
    background: #dff1df;
    border-left: 4px solid #32CD32;
}

.profile-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    margin-left: 30px;
}

.info-section h2 {
    color: #4197ed;
    border-bottom: 2px solid #908f8f;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Georgia, serif;
}

.info-row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    font-family: system-ui;
}

.info-row div {
    flex: 1;
}

.info-row label {
    display: block;
    color: #777777;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    background: transparent;
}

.info-row input,
.info-row textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f9f9f9;
}

.info-row textarea {
    height: 100px;
    resize: none;
}

.profile-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.save-btn {
    background: #218838;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 50px;
    font-family: system-ui;
}

.save-btn:hover {
    background: #379d4b;
}

.input-with-suffix {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-with-suffix input {
    width: 100%;
    padding-right: 20px !important; 
    box-sizing: border-box;
}

.input-with-suffix .suffix {
    position: absolute;
    right: 5px !important; 
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 14px;
    pointer-events: none;
}
